      html * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.2;
      }      

      body {
        margin:0;
        padding:0;
        font-family: "SourceSans", sans-serif;
      }

      #particle-slider {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background:black url(img/back.png) center center / cover no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        padding: 0;       
      }

      /* hide control & slide sources */
      #particle-slider div {
        display: none;
      }

      /* 2nd */
      .cd-intro {
        margin: 0;
        padding-bottom: 50px;
        background-color: black;
        width:100%;
        height: auto;
      }
      
      #about {
        padding-top: 4%;
        padding-left: 12%;
        width:100%;
      }

      .cd-intro p {    
        font-family: Helvetica;
        font-weight: 100;
        font-size: 1.4rem;
        color: #50A6C2;
        width:40%;
      }
      
      #head {
        margin:0;
        padding-top: 5%;
        padding-left: 5%;
      }

      img.figure {
        float: right;
        text-align: right;
        display: inline;
        max-height:71%;
        padding-right: 10%;
        margin:0;
      }

      @media (max-width: 800px){
         img.figure {
          display:none;
        } 
      }
      
      span {
        font-size: 4rem;
        font-weight: bold;
        /*font-family: Helvetica;*/
      }
      b {
        color:white;
        font-size: 4rem;
        font-style: normal;
      }
      .cd-headline {
        font-size: 4rem;
        line-height: 1.2;
      }
      @media only screen and (min-width: 768px) {
        .cd-headline {
          font-size: 4em;
          font-weight: 300;
        }
      }
      @media only screen and (min-width: 1170px) {
        .cd-headline {
          font-size: 4rem;
        }
      }

      @media (max-width: 650px){
        .cd-headline {
          font-size: 1.5rem;
        }
        span {
        font-size: 1.3rem;
        font-weight: bold;
        /*font-family: Helvetica;*/
        }
        b {
          color:white;
          font-size: 1.3rem;
          font-style: normal;
        }
        .cd-intro p {    
          font-size: 1rem;
          width:85%;
          text-align: left;
        }
        #head {
          text-align: center;
        }
        #head2 {
          font-size: 2em !important;
        }
        #explanation {
          width:85% !important;
          font-size: 1em !important;
        }
      }

    .cd-words-wrapper {
      display: inline-block;
      position: relative;
      text-align: left;
    }
    .cd-words-wrapper b {
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      left: 0;
      top: 0;
    }
    .cd-words-wrapper b.is-visible {
      position: relative;
    }
    .no-js .cd-words-wrapper b {
      opacity: 0;
    }
    .no-js .cd-words-wrapper b.is-visible {
      opacity: 1;
    }

    .cd-headline.type .cd-words-wrapper {
      vertical-align: top;
      overflow: hidden;
    }
    .cd-headline.type .cd-words-wrapper::after {
      /* vertical bar */
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 90%;
      width: 1px;
      background-color: #aebcb9;
    }
    .cd-headline.type .cd-words-wrapper.waiting::after {
      -webkit-animation: cd-pulse 1s infinite;
      -moz-animation: cd-pulse 1s infinite;
      animation: cd-pulse 1s infinite;
    }
    .cd-headline.type .cd-words-wrapper.selected {
      background-color: #aebcb9;
    }
    .cd-headline.type .cd-words-wrapper.selected::after {
      visibility: hidden;
    }
    .cd-headline.type .cd-words-wrapper.selected b {
      color: #0d0d0d;
    }
    .cd-headline.type b {
      visibility: hidden;
    }
    .cd-headline.type b.is-visible {
      visibility: visible;
    }
    .cd-headline.type i {
      position: absolute;
      visibility: hidden;
    }
    .cd-headline.type i.in {
      position: relative;
      visibility: visible;
    }

    @-webkit-keyframes cd-pulse {
      0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
      }
      40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
      }
    }
    @-moz-keyframes cd-pulse {
      0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
      }
      40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
      }
      100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
      }
    }
    @keyframes cd-pulse {
      0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
      }
      40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
      }

      /* 3rd */
      .cd-gallery-container {
        clear:both;
        margin: 0;
        padding: 0;
        
        width:100%;
        height:100%;
      }

      .cd-filter {
        padding-top: 10%;
      }
      
      #explanation {
        
        margin:2em auto;
        padding: 2em 0 2em 0;
        font-size:3rem;
      }

      #explanation p {
        
        font-size:3rem;
        text-align:left;
      }

      h1 {
        margin:0;
      }

      footer {
        width:100%;
        height:auto;
      }